.Grid {
  /* width: 960px;
  height: 800px; */
  display: grid;
  /* grid-template-columns: repeat(120, 8px); */
  margin: 0px;
  gap: 0px;
}

.tile {
  width: 8px;
  height: 8px;
  display: grid;
  place-content: center;
}

.prez {
  font: 'small';
  color: 'white';
  background: 'darkorchid';
  padding: 10;
  padding: 20
}