.Grid {
  /* width: 960px;
  height: 800px; */
  display: grid;
  /* grid-template-columns: repeat(120, 8px); */
  
  gap: 0;
  column-gap: 0;
  row-gap:0;
  padding: 0;
}
.Canvas {
  background-color: #121212;
}

.road {
  background-color: #463836;
}

.residential {
  background-color: #700000;
}

.commercial {
  background-color: #1100ff;
}

.industrial {
  background-color: #ffac41;
}

.coal {
  background-color: #ffacc1;
}

.empty {
  background-color: #000000;
}